{% extends '../pf_base.html' %}
{% load static %}


{% block content %}



<div class="container-fluid" id="dog-card-container">
    <div class="row row-cols-1 row-cols-md-4">
        {% for org in orgs %}
            {% if org.photos %}
            <div class="col mb-4">
                <div class="card">
                        <a href="{% url 'orgs_show' org.id %}">
                            <img src="{{ org.photos.0.medium }}" class="card-img-top" alt="">
                        </a>
                    <div class="card-body">
                            <h4>{{ org.name }}</h4>
                            <ul>
                                <li>{{ org.address.city }}, {{ org.address.state }}</li>
                                {% if org.website %}
                                <li id="org_links"onclick="location.href='{{ org.website }}';">Website Link</li>
                                {% endif %}
                            </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}