{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">New Best Friend</h1>
      <h3 class="lead">The place to find the right dog for you</h3>
    </div>
</div>

<div class="search-container">
    <form class="search-form" action="{% url 'search_results' %}" method="GET">
        <input class="search-input" name="q" type="text" placeholder="Search for dogs by location">
    </form>
</div>

<div class="container" id="dog-card-container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for dog in dogs %}
            <div class="col mb-4">
                <div class="card">
                    <a href="{% url 'dog_show' dog.id %}">
                        <img src="{{ dog.image }}" class="card-img-top" alt="image.jpg">
                    </a>
                    <div class="card-body">
                        <p class="card-text">
                            <h4>{{ dog.name }}</h4>
                            <ul>
                                <li>{{ dog.age }}</li>
                                <li>{{ dog.breed }}</li>
                                <li>{{ dog.location }}</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}