* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

#topbar {
    background-color: #63A375;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

.nav-link {
    color: whitesmoke;
}

.jumbotron {
    background-image: url("../images/jumbotron2.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover;  */
    min-height: 32vh;
    margin-bottom: auto;
    font-family: 'Amatic SC', cursive;
}

.jumbotron .container .lead {
    font-size: 2em;
}
.jumbotron .container .display-4 {
    font-size: 4.5em;
}

#searchbar {
    padding-top: 6px;
}

.jumbotron .container {
    margin-top: 15px;
}

.jumbotron .container .display-4 {
    color: whitesmoke;
} 

.jumbotron .container .lead {
    color: whitesmoke;
} 


.collapse:not(.show) {
    display: flex !important;
}

#providerform {
    width: 600px;
    margin: auto;
    padding-top: 3em;
}

.register-header {
    align-content: center;
    text-align: center;
    margin: auto 0;
}

.card-img-top {
    width: 100% !important;
    height: 20rem !important;
    object-fit: cover !important;
}

.card {
    max-width: 18.5rem
}

.search-container {
    height: 8vh;
    background-color: #63A375;
    display: flex;
    align-content: center;
    margin: 1em;
}

.search-container .search-form {
    margin: auto;
}


.search-container .search-form .search-input {
    width: 30vw;
}

#dog-card-container {
    width: 100%;
    margin: auto 0;
}

.show-container {
    text-align: center;
    margin-top: 6vh;
    font-family: 'Amatic SC', cursive;
}

.show-container .show-title {
    font-size: 3rem
}

#image-container {
    display: flex;
    align-content: center;
    margin-top: 6vh;
}

#image-container .dog-image {
    margin: auto;
    min-width: 25vw;
    max-width: 34vw;
    min-height: 60vh;
    max-height: 65vh;
    border-radius: 10px;
}

.dog-info {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 3em;
    background-color: rgb(212, 209, 209);
    border-radius: 10px;
    font-family: 'Itim', cursive;
    padding-bottom: 2rem;
}

.dog-info .show-name {
    padding-top: 0.7em;
    margin-left: 2em;
}

h2.show-name {
    margin-bottom: 0% !important;
}

.dog-info .info-list {
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
}

.modal.fade .modal-content .modal-footer .btn.btn-primary {
    background-color: #63A375 !important;
}

.search-header {
    text-align: center;
    font-family: 'Itim', cursive;

}

.bg-light-red {
    background-color: #63A375 !important;
}

.featured {
    text-align: center;
    font-family: 'Itim', cursive;
    padding-bottom: 1rem;
}

#provider-card.card {
   /*  width: 100% !important; */
    max-width: 100% !important;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 2em;
}

#provider-card.card .card-body .info-list {
    margin-left: 3rem !important;
}

#provider-card.card .card-body .card-title {
    font-size: 2rem !important;
    padding-left: 3rem !important;
}

.f6 {
    font-size: 1.1rem !important;
}

#provider-title {
    margin-top: 3rem !important;
}


