{% extends "../base.html" %}


{% block content %}

<div class="show-container">
    <h1 class="show-title">{{ dog.animals.name }}</h1>
    <div id="image-container">
        <img class="dog-image" src="{{ dog.animals.photos.0.large }}" alt="image.jpg">
    </div>
</div>

<div class="dog-info">
    <h2 class="show-name">About {{ dog.animals.name }}</h2> 
    <div class="info-list">
        <dl class="lh-title pa4 mt0">
            <dt class="f6 b">Location</dt>
            <dd class="ml0">{{ dog.animals.contact.address.city }} , {{dog.animals.contact.address.state}}</dd>
            <dt class="f6 b mt2">Breed</dt>
            <dd class="ml0"><li>{{ dog.animals.breeds.primary }}</li></dd>
            <dt class="f6 b mt2">Age</dt>
            <dd class="ml0"><li>{{ dog.animals.age }}</li></dd>
            <dt class="f6 b mt2">Gender</dt>
            <dd class="ml0"><li>{{ dog.animals.gender }}</li></dd>
            <dt class="f6 b mt2">{{ dog.animals.name }}'s Story</dt>
            <dd class="ml0"><li>{{ dog.animals.description }}</li></dd>
        </dl>
    </div>
    


{% endblock %}