{% extends "../base.html" %}


{% block content %}

<div class="show-container">
    <h1 class="show-title">{{ dog.name }}</h1>
    <div id="image-container">
        <img class="dog-image" src="{{ dog.image }}" alt="image.jpg">
    </div>
</div>

<div class="dog-info">
    <h2 class="show-name">{{ dog.name }}</h2> 
    <ul class="info-list">
        <li>{{ dog.location }}</li>
        <li>{{ dog.breed }}</li>
        <li>{{ dog.age }}</li>
        <li>{{ dog.gender }}</li>
        <li>{{ dog.neutured }}</li>
        <li>{{ dog.story }}</li>
    </ul>
    
</div>

<li><a href="{% url 'prov_profile' dog.provider.id %}">{{ dog.provider.shelterName }}</a></li>


{% endblock %}