{% extends '../base.html' %}


<h1>New Best Friend</h1>

<h3>{{ provider.name }}</h3>

{% block content %}
    <div>
        <ul>
            <li>{{provider.location}}</li>
            <li>{{provider.description}}</li>
            <li>{{provider.website}}</li>
            <li>{{provider.phone}}</li>
            <li>{{provider.adoptionProcess}}</li>
        </ul>
    </div>
    <div>
        <ul>
            {% for dog in dogs %}
            {% if dog.provider == provider %}
                <li>{{ dog.name }}</li>
                <li>{{ dog.breed }}</li>
                <li>{{ dog.provider.shelterName }}</li>
                <li>{{ dog.image }}</li>
                <li>{{ dog.story }}</li>
            {% endif%}
            {% endfor %}
        </ul>
    </div>


{% endblock %}